
<div class="flex-container">
    <header>
        <img src="/assets/img/hamburger.png" alt="burger" height="200" width="200">
        <h2>Eat-Da-Burger</h2>
    </header>

    <section class="main1">
        {{#each burgers}} {{#unless this.devoured}}
        <ul>
            <li>
                <p>
                    {{this.id}}. {{this.burger_name}}
                    <button class="change-devoured" data-id="{{this.id}}">Devour</button>
                </p>
            </li>
        </ul>
        {{/unless}} {{/each}} 
    </section>
    <section class="main2">
        {{#each burgers}} {{#if this.devoured}}
        <ul>
            <li>
                <p>
                    {{this.id}}. {{this.burger_name}}
                </p>
            </li>
        </ul>
        {{/if}} {{/each}}
    </section>
    <footer>
        <form class="create-form">
            <div class="form-group">
                <label for="burger">Burger Name:</label>
                <input type="text" id="burger" name="name">
            </div>
            <button type="submit">Add Burger</button>
        </form>
    </footer>
</div>